Repository nowa-webpack/solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: disable removeViewBox in cssnano
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

chore(release): publish
  packages/react-typescript/CHANGELOG.md
  packages/react-typescript/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: disable mergeLonghand in cssnano
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: init react-component solution
  packages/react-component/index.js
  packages/react-component/package.json
  packages/react-component/webpack/base.js
  packages/react-component/webpack/dev.build.js
  packages/react-component/webpack/dev.server.js
  packages/react-component/webpack/prod.js
Due: eslint --fix, prettier --write

chore: temporarily remove lint-staged
  .lintstagedrc.json
  package.json
Due: prettier --write

feat: support component building
  packages/react-component/index.js
  packages/react-component/package.json
  packages/react-component/webpack/base.js
  packages/react-component/webpack/dev.build.js
  packages/react-component/webpack/prod.js
Due: eslint --fix, prettier --write

chore(release): publish
  packages/react-component/CHANGELOG.md
  packages/react-component/package.json
Due: prettier --write

fix: add missing dependencies
  packages/react-component/index.js
  packages/react-component/package.json
Due: eslint --fix, prettier --write

fix: less-loader 4.x bug
  packages/react/package.json
Due: prettier --write

fix: typo on node_modules
  packages/legacy/multiEntry/webpack/prod.js
  packages/legacy/multiEntry/webpack/prodOL.js
Due: eslint --fix

chore(release): publish
  packages/legacy/CHANGELOG.md
  packages/legacy/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.json
