Repository nowa-webpack/solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "*.json": ["prettier --write", "git add"]
}

chore: init @nowa/solution-react
  packages/react/package.json
  packages/react/spa/index.js
  packages/react/spa/webpack/base.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/dev.server.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix, prettier --write

chore: init @nowa/solution-react-typescript
  packages/react-typescript/package.json
  packages/react-typescript/spa/index.js
  packages/react-typescript/spa/webpack/base.js
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/dev.server.js
  packages/react-typescript/spa/webpack/prod.js
Due: eslint --fix, prettier --write

fix: mute tsconfig-paths-webpack-plugin & add more extensions
  packages/react-typescript/spa/webpack/base.js
Due: eslint --fix

fix: use index.tsx as entry
  packages/react-typescript/spa/index.js
Due: eslint --fix

feat(spa): use src/index.ejs as html template
  packages/react-typescript/spa/webpack/dev.server.js
  packages/react/spa/webpack/dev.server.js
Due: eslint --fix

chore(release): publish
  packages/react-typescript/CHANGELOG.md
  packages/react-typescript/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: 10px\9 in css breaks prod build
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: add babelrc option support
  packages/react-typescript/spa/index.js
  packages/react-typescript/spa/webpack/base.js
  packages/react/package.json
  packages/react/spa/index.js
  packages/react/spa/webpack/base.js
Due: eslint --fix, prettier --write

feat: support svgs with number-only filename
  packages/react-typescript/spa/webpack/base.js
  packages/react/spa/webpack/base.js
Due: eslint --fix

chore: nohoist every module
  package.json
Due: prettier --write

feat: upgrade to webpack 4
  packages/react-typescript/package.json
  packages/react-typescript/spa/webpack/base.js
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/dev.server.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/package.json
  packages/react/spa/index.js
  packages/react/spa/webpack/base.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/dev.server.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix, prettier --write

fix: use babel-plugin-transform-decorators-legacy instead babel-plugin-transform-decorators
  packages/react-typescript/spa/webpack/base.js
  packages/react/package.json
  packages/react/spa/webpack/base.js
Due: eslint --fix, prettier --write

feat: support cssModule option to enable CSS Modules spec
  packages/react-typescript/spa/index.js
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/index.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: support autoprefixer
  packages/react-typescript/package.json
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/package.json
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix, prettier --write

feat: change default browsers
  packages/react-typescript/spa/index.js
  packages/react/spa/index.js
Due: eslint --fix

fix: set camelCase: 'only' on default
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

fix: default browsers change break the whole workflow
  packages/react-typescript/spa/webpack/base.js
  packages/react/spa/webpack/base.js
Due: eslint --fix

feat: support profile option to output webpack timings
  packages/react-typescript/spa/index.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/index.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: disable cssModule for css in node_modules
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: set disableHostCheck on devServer
  packages/react-typescript/spa/webpack/dev.server.js
  packages/react/spa/webpack/dev.server.js
Due: eslint --fix

feat: disable cssModules for less in node_modules
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

fix: js babel-loader options is different from ts
  packages/react-typescript/spa/webpack/base.js
Due: eslint --fix

fix: unexpected token , in old browsers
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: add ProgressPlugin for prod builds
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

chore: update dependencies & remove yarn
  .gitignore
  .npmrc
  lerna.json
  package.json
Due: prettier --write

feat: enable autoprefixer for node_module styles
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: upgrade loaders and other dependencies
  packages/react-typescript/package.json
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/package.json
Due: eslint --fix, prettier --write

chore: init @nowa/solution-entry
  packages/legacy/multiEntry/index.js
  packages/legacy/multiEntry/webpack/base.js
  packages/legacy/multiEntry/webpack/dev.build.js
  packages/legacy/multiEntry/webpack/dev.server.js
  packages/legacy/multiEntry/webpack/prod.js
  packages/legacy/multiEntry/webpack/prodOL.js
  packages/legacy/package.json
Due: eslint --fix, prettier --write
