Repository nowa-webpack/solutions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "git add"],
  "*.json": ["prettier --write", "git add"]
}

feat: copy html & src/lib to outputPath
  packages/legacy/multiEntry/index.js
Due: eslint --fix

feat: serve outputPath
  packages/legacy/multiEntry/webpack/dev.server.js
Due: eslint --fix

feat: add babel-plugin-import
  packages/legacy/multiEntry/index.js
  packages/legacy/multiEntry/webpack/base.js
  packages/legacy/package.json
Due: eslint --fix, prettier --write

chore(release): publish
  packages/legacy/CHANGELOG.md
  packages/legacy/package.json
Due: prettier --write

fix: typo
  packages/legacy/multiEntry/index.js
Due: eslint --fix

fix: copy path issue
  packages/legacy/multiEntry/index.js
Due: eslint --fix

fix: context is missing in webpack base config
  packages/legacy/multiEntry/webpack/base.js
  packages/react-typescript/spa/webpack/base.js
  packages/react/spa/webpack/base.js
Due: eslint --fix

chore(release): publish
  packages/legacy/CHANGELOG.md
  packages/legacy/package.json
  packages/react-typescript/CHANGELOG.md
  packages/react-typescript/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

feat: support compileNodeModules option on build command
  packages/legacy/multiEntry/index.js
  packages/legacy/multiEntry/webpack/base.js
  packages/legacy/multiEntry/webpack/dev.build.js
  packages/legacy/multiEntry/webpack/prod.js
  packages/legacy/multiEntry/webpack/prodOL.js
  packages/react-typescript/spa/index.js
  packages/react-typescript/spa/webpack/base.js
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/index.js
  packages/react/spa/webpack/base.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: upgrade to babel 7
  packages/react-typescript/package.json
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/package.json
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix, prettier --write

fix: constant() and env() parse error
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

fix: compileNodeModules is not working
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

refactor: rename babelrc to noBabelConfig
  packages/react-typescript/spa/index.js
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/index.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

fix: TypeError: Cannot read property 'noBabelConfig' of undefined
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
Due: eslint --fix

chore(release): publish
  packages/react-typescript/CHANGELOG.md
  packages/react-typescript/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

feat: add dropConsole option
  packages/legacy/multiEntry/index.js
  packages/legacy/multiEntry/webpack/prod.js
  packages/legacy/multiEntry/webpack/prodOL.js
  packages/react-typescript/spa/index.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/index.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

fix: accidentally change stage-0 to stage-2
  packages/legacy/multiEntry/webpack/prod.js
  packages/legacy/multiEntry/webpack/prodOL.js
Due: eslint --fix

fix: dropConsole is not working
  packages/legacy/multiEntry/webpack/prod.js
  packages/legacy/multiEntry/webpack/prodOL.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

feat: change default entry filename to index.jsx
  packages/react/spa/index.js
Due: eslint --fix

feat: add multi entry point support
  packages/react-typescript/me/index.js
  packages/react-typescript/me/webpack/base.js
  packages/react-typescript/me/webpack/dev.build.js
  packages/react-typescript/me/webpack/dev.server.js
  packages/react-typescript/me/webpack/prod.js
  packages/react/me/index.js
  packages/react/me/webpack/base.js
  packages/react/me/webpack/dev.build.js
  packages/react/me/webpack/dev.server.js
  packages/react/me/webpack/prod.js
Due: eslint --fix

fix: incorrect entry name
  packages/react-typescript/me/webpack/base.js
  packages/react/me/webpack/base.js
Due: eslint --fix

feat: generate html for every single chunk
  packages/react-typescript/me/webpack/base.js
  packages/react/me/webpack/base.js
Due: eslint --fix

feat: add a vendors chunk for multi entry project
  packages/react-typescript/me/webpack/base.js
  packages/react-typescript/spa/webpack/base.js
  packages/react/me/webpack/base.js
  packages/react/spa/webpack/base.js
Due: eslint --fix

feat: add @babel/plugin-syntax-dynamic-import
  packages/react-typescript/me/webpack/dev.build.js
  packages/react-typescript/me/webpack/prod.js
  packages/react-typescript/package.json
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/me/webpack/dev.build.js
  packages/react/me/webpack/prod.js
  packages/react/package.json
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix, prettier --write

fix: Decorators transform is necessary.
  packages/react-typescript/me/webpack/dev.build.js
  packages/react-typescript/me/webpack/prod.js
  packages/react-typescript/spa/webpack/dev.build.js
  packages/react-typescript/spa/webpack/prod.js
  packages/react/me/webpack/dev.build.js
  packages/react/me/webpack/prod.js
  packages/react/spa/webpack/dev.build.js
  packages/react/spa/webpack/prod.js
Due: eslint --fix

fix: webpack-dev-server CVE-2018-14732
  packages/react/package.json
Due: prettier --write

chore: update lerna & other dependencies
  lerna.json
  package.json
Due: prettier --write

chore: update dependencies
  packages/react-typescript/package.json
  packages/react/package.json
Due: prettier --write
